-- name: CreateUser :exec
INSERT INTO users(name, email)
VALUES($1, $2);

-- name: GetUserById :one
SELECT * FROM users
WHERE id=$1;

-- name: GetAllUser :many
SELECT * FROM users;

-- This is a file created by default for setting up sqlc
-- Write your sql queries files in this folder {{.ProjectName}}/migrations/sql/
